# Virtual Environment
.venv/
venv/
env/
ENV/

# Environment variables & secrets
.env
!.env.example

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# OS specific
.DS_Store
Thumbs.db
